.*
*.d
*.o
*.a
libcommon/unit-test/test_clusters
libcommon/unit-test/test_thd_safe_bool_vector
libcommon/unit-test/test_reader
libman/unit-test/test_kmeans_thread
libman/unit-test/test_task_queue
libman/unit-test/test_kmeans_task_thread
utils/convert_matrix
utils/create_matrix
utils/test/read_rrow_data
exec/knord
exec/knori
scratch/
release-test/test_auto
release-test/test_man
