.*
*.d
*.o
*.a
*.pyc
*.so
libkcommon/unit-test/test_clusters
libkcommon/unit-test/test_thd_safe_bool_vector
libkcommon/unit-test/test_reader
libkcommon/unit-test/test_dist_matrix
libkcommon/unit-test/test_linalg
libkcommon/unit-test/test_dense_matrix
libkcommon/unit-test/testeigen
libman/unit-test/test_kmeans_thread
libman/unit-test/test_task_queue
libman/unit-test/test_kmeans_task_thread
libman/unit-test/test_id_generator
libkcommon/unit-test/test_util
libkcommon/unit-test/test_types
libkcommon/unit-test/test_AD
utils/
utils/test/read_rrow_data
exec/knord
exec/knori
exec/medoids
exec/knors
exec/skmeans
exec/mb_knori
exec/gmm
exec/fcm
exec/hclust
exec/xmeans
scratch/
release-test/test_auto
release-test/test_man
binding/unit-test/test_knori
MANIFEST
dist/
build/
